
<!-- Navigation -->
<nav class="bg-white shadow-lg z-50 sticky top-0 left-0">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between h-20">
      <div class="flex">
        <!-- Logo -->
        <a class="flex-shrink-0 flex items-center" href="{{ site.index_path}}">
          {% if site.settings.logo_url %}
            <img class="h-12 w-auto" src="{{ site.settings.logo_url }}g" alt="Logo">
          {% elsif site.favicon_url %}
            <img class="h-12 w-auto" src="{{ site.favicon_url }}g" alt="Logo">
            <span class="text-gray-900 text-2xl font-bold"">{{ site.name }}</span>
          {% else %}
            <span class="text-gray-900 text-2xl font-bold"">{{ site.name }}</span>
          {% endif %}
        </a>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden md:flex items-center space-x-8">
        {% if site.settings.header_menu_html %}
          {{ site.settings.header_menu_html }}
        {% else %}
          <a href="/s/about" class="text-gray-900 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">About</a>
        {% endif %}
        {% if site.settings.contact_url %}
          <a href="{{ site.settings.contact_url }}" target="_blank" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{ site.settings.contact_name }}</a>
        {% endif %}
      </div>

      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button @click="mobileMenuOpen = !mobileMenuOpen" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div x-show="mobileMenuOpen" class="md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
      {% if site.settings.header_menu_html %}
        {{ site.settings.header_menu_html }}
      {% else %}
        <a href="/s/about" class="text-gray-900 hover:text-blue-600 block px-3 py-2 rounded-md text-base font-medium">Go to Ticket Support</a>
      {% endif %}
      {% if site.settings.contact_url %}
        <a href="{{ site.settings.contact_url }}" target="_blank" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{ site.settings.contact_name }}</a>
      {% endif %}
    </div>
  </div>
</nav>
