{% assign icons =  "images/demo/icon-0.png,images/demo/icon-1.png,images/demo/icon-2.png,images/demo/icon-3.png,images/demo/icon-4.png,images/demo/icon-5.png,images/demo/icon-6.png,images/demo/icon-7.png,images/demo/icon-8.png,images/demo/icon-9.png" | split: ',' %}
{% assign default_hero_image = 'images/bg.png' | asset_url %}
{% assign card_pages = site.pages['/'].pages_in_list  | order_by: '-created_at' %}

<!-- Hero Section -->
{% render 'search_box', page: page %}

<!-- MAIN CONTENT -->
<div class="container mx-auto px-4 py-6">
  <div class="max-w-4xl mx-auto">
    <div class="bg-white rounded-lg shadow-sm p-6 mb-6">
      {% paginate_tag card_pages, per: 10 %}
        {% for card_page in card_pages %}
          {% assign desc = card_page.settings.content | strip_html | truncate: 120  %}
          {%  assign sub_pages = card_page.pages_in_list  %}
          {%  assign sub_page_count = sub_pages| size %}
          <article class="flex mb-4 border-b">
            <div class="flex-none w-12">
              {% if card_page.settings.icon %}
                <img src="{{ card_page.settings.icon }}" alt="{{ card_page.link_text }}" class="w-8 h-8" />
              {%  else %}
                <img src="{{ icons[forloop.index0] |  asset_url }}" alt="{{ card_page.link_text }}" class="w-8 h-8" />
              {% endif %}
            </div>
            <div class="flex-auto">
              <h2 class="text-xl font-semibold mb-2">
                <a href="{{ card_page.path }}" class="hover:text-blue-600">
                  {{ card_page.link_text }}
                </a>
              </h2>
              <div class="flex items-center text-sm text-gray-500 mb-4">
                <span class="flex items-center">
                  <svg class="w-4 h-4 mr-1 text-primary"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
                  </svg>
                  {{ sub_page_count }} {{ 'generic.articles' | t }}
                </span>
                <span class="flex items-center ml-4">
                  <svg class="w-4 h-4 mr-1 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
                  {{ card_page.visits_count }} {{ 'generic.views' | t }}
                </span>
                <span class="flex items-center ml-4">
                  <svg class="w-4 h-4 mr-1 text-primary-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                  {{ card_page.published_at | date: "%b %d, %Y" }}
                </span>
              </div>
              <p class="text-gray-400 text-sm mb-2">
                {{ card_page.settings.description |  default: desc }}
              </p>
            </div>
          </article>
        {% endfor %}
        <!-- Pagination -->
        {% render 'paginate', paginate: paginate %}
      {% endpaginate_tag %}
    </div>
  </div>
</div>

{% render 'search_box' %}


{% schema %}
  {
    "name": "Product manual",
    "description": "home like list dictionary style",
    "thumb_url": "images/theme/index-list.webp",
    "preview_image_urls": [
      "images/theme/index-list.webp"
    ],
    "sub_page_templates": ["page"],
    "settings": [
        {
          "id": "hero_image_url",
          "type": "image_picker",
          "ratio": "19:6",
          "width": 900,
          "label": "t:settings_schema.generic.settings.hero_image_url.label",
          "info": "t:settings_schema.generic.settings.hero_image_url.info"
        },
        {
          "id": "tags",
          "type": "tag_picker",
          "multiple": true,
          "label": "t:settings_schema.page.settings.tags.label"
        }
      ]
  }
{% endschema %}
