{% assign icons =  "images/demo/icon-0.png,images/demo/icon-1.png,images/demo/icon-2.png,images/demo/icon-3.png,images/demo/icon-4.png,images/demo/icon-5.png,images/demo/icon-6.png,images/demo/icon-7.png,images/demo/icon-8.png,images/demo/icon-9.png" | split: ',' %}
{% assign card_pages = page.pages_in_list  | order_by: '-created_at' %}

<!-- Hero Section -->
<div class="bg-gradient-to-r from-primary-50 to-primary-100 py-8 lg:py-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
    </div>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="container mx-auto px-4 py-6">
  <div class="max-w-4xl mx-auto">
    <div class="bg-white rounded-lg shadow-sm p-6 mb-6">
      {% paginate_tag card_pages, per: 10 %}
        {% for card_page in card_pages %}
          {% assign desc = card_page.settings.content | strip_html | truncate: 120  %}
          <article class="flex mb-4 border-b">
            <div class="flex-none w-12">
              {% if card_page.settings.icon %}
                <img src="{{ card_page.settings.icon }}" alt="{{ card_page.link_text }}" class="w-8 h-8" />
              {%  else %}
                <img src="{{ icons[forloop.index0] |  asset_url }}" alt="{{ card_page.link_text }}" class="w-8 h-8" />
              {% endif %}
            </div>
            <div class="flex-auto">
              <h2 class="text-xl font-semibold mb-2">
                <a href="{{ card_page.path }}" class="hover:text-blue-600">
                  {{ card_page.link_text }}
                </a>
              </h2>
              <div class="flex items-center text-sm text-gray-500 mb-4">
                <span class="flex items-center">
                  <svg class="w-4 h-4 mr-1 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
                  {{ card_page.visits_count }} views
                </span>
                <span class="flex items-center ml-4">
                  <svg class="w-4 h-4 mr-1 text-primary-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                  {{ card_page.published_at | date: "%b %d, %Y" }}
                </span>
              </div>
              <p class="text-gray-400 text-sm mb-2">
                {{ card_page.settings.description |  default: desc }}
              </p>
            </div>
          </article>
        {% endfor %}
        <!-- Pagination -->
        {% render 'paginate', paginate: paginate %}
      {% endpaginate_tag %}
    </div>
  </div>
</div>

{% render 'search_box' %}

{% schema %}
{
  "name": "Page with List",
  "description": "The list page template",
  "thumb_url": "images/theme/page-list.webp",
  "sub_page_templates": ["page"],
  "settings": [
      {
        "id": "title",
        "type": "text",
        "readonly": true,
        "label": "标题",
        "info": "知识库同步，不可编辑"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:settings_schema.page.settings.description.label"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "ratio": "1:1",
        "width": 100,
        "label": "t:settings_schema.page.settings.icon.label",
        // "required": true, 如果必填就用这个参数
        "info": "t:settings_schema.page.settings.icon.info"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label",
        "readonly": true,
        "info": "t:settings_schema.page.settings.content.info"
      }
  ]
}
{% endschema %}
